head,
body {
    width: 100%;
    background-color: #DDEBF0;
    font-size: 1.1em;
}

body {
    padding-top: 70px;
    padding-bottom: 80px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.17em;
    font-size: 2em;
}

.okvir {
    border: 1px solid #CCC;
    min-height: 538px !important;
}

.alert {
    margin-top: 10px;
}

.input-group {
    margin-bottom: 15px;
}

select {
    margin-bottom: 15px;
}

#stres {
    margin-bottom: 15px;
}

#range {
    top: 18px;
    position: relative;
    font-size: 2em;
}

#hospitalMap {
    position: static !important;
    min-height: 350px;
    max-width: 100%;
}

#youtubeVid {
    max-width: 100%;
}

.material-icons {
    font-size: 10em !important;
}